
body {
    margin: 0px;
    text-decoration: none;
}

body > div {
    display: flex;
    flex-flow: row wrap;
}

body > div > header, footer {
    background: tan;
    color: #2a9fd6;
    border-radius: 8px;
    margin: 0;
    padding: 0 10px 0 10px;
}

body > div > header {
    order: 1;
    flex: 1 1 100%;
}

body > div > main {
    order: 2;
    float: left;
    flex: 1 1 55%;
    padding: 5px;
    color: #9966cc;
    font-size: 1.25em;
    font-weight: bold;
}

body > div > aside {
    order: 3;
    float: right;
    flex: 1 1 40%;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    border: solid;
    margin: 5px;
}

body > div > footer {
    order: 4;
    flex: 1 1 100%;
}

a {
    text-decoration: none;
    color: #2a9fd6;
}

h1 {
    color: black;
    font-family: verdana, sans-serif;
    font-size: 2em;
}

h2 {
    color: mediumvioletred;
    font-family: verdana, sans-serif;
    font-size: 1.5em;
}

h3, th {
    color: #73AD21;
    font-family: verdana, sans-serif;
    font-size: 1em;
}

button {
    border: none;
    color: white;
    background-color: #73AD21;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

div#body {
    background-color: white;
    height: 100%;
}

b {
    color: #9900cc
}

th, tr {
    text-align: center;
    width: 33%;
}

ul {
    list-style-type: none;
}

ul#menu {
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    width: 90%;
}

ul#menu li {
    display: inline;
    position: relative;
}

ul#menu li {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px 8px 8px 8px;
    margin: 20px 1px;
}

/*ul#menu li:hover {
    background-color: white;
    color:purple;
    }*/
div#letters {
    min-height: 50px;
    text-align: center;

}

/*
.__                 __           _________.__  .__    .___
|__| ____   _______/  |______   /   _____/|  | |__| __| _/___________
|  |/    \ /  ___/\   __\__  \  \_____  \ |  | |  |/ __ |/ __ \_  __ \
|  |   |  \\___ \  |  |  / __ \_/ _____  \|  |_|  / /_/ \  ___/|  | \/
|__|___|  /____  > |__| (____  /_______  /|____/__\____ |\___  >__|
       \/     \/            \/        \/              \/    \/
*/
.instaslider-wrapper {
    width: 500px;
    height: 500px;
    background: #e7e7e7;
    overflow: hidden
}

.instaslider-wrapper ul {
    width: 10000px;
    list-style: none
}

.instaslider-wrapper ul li {
    float: left
}

div.error {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: arial;
    text-align: center
}

div.error p {
    width: 300px;
    line-height: 180%;
    margin: 0 auto;
    padding: 167px 0 0
}

.instaslider-wrapper ul li img {
    width: 500px;
    height: auto
}

.instaslider-nav {
    position: relative;
    top: -50%;
    margin: -50px 0 0
}

.instaslider-nav .prev, .instaslider-nav .next {
    border: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: #072835;
    text-indent: -9999px
}

.instaslider-nav .prev:hover {
    background-position: -2px -100px
}

.instaslider-nav .next:hover {
    background-position: -98px -100px
}

.instaslider-nav .prev {
    float: left;
    background: #072835 url(../img/arrow_sprite.png) 0 0
}

.instaslider-nav .next {
    float: right;
    background: #072835 url(../img/arrow_sprite.png) -100px 0
}